extends layouts/_layout.pug

//- block variables
//-     - var err = { title: 'Неизвестная ошибка', message: '', status: 501, ...( locals.error || {} ) }


block content
    .row
        -
            var pageError = Object.assign( {
                title: 'Упс.. Ошибочка!',
                message: 'Что-то пошло не так!'
            }, locals.error || {} ); 
        
        .align-center(style='margin: 120px 0;')
            h3= pageError.title
            - if( Boolean( pageError.message ) )
                p= pageError.message
            a.flat-button.primary(href='/', style="margin-top: 60px;") На главную!