extends layouts/_layout.pug

block variables
    script.
        var rouletteItems = !{JSON.stringify(locals.games)};
        var price = !{locals.preferences.roulette.price};

block content
    
    .row
        .col-12
            include ./components/live-games.pug

    .row
        .col-12
            include ./components/roulette.pug

    .row
        .col-12
            include ./components/promocodes.pug