
- var payment = locals.payment;

h4 Пополнение баланса 

form( method='POST', action='https://primepayer.com/payment' ).payment-mf

    .payment-mf__row.row
        .payment-mf__row-title.col-6 Сумма
        .payment-mf__row-data.col-6 250₽

    .payment-mf__row.row
        .payment-mf__row-title.col-6 Бонусы
        .payment-mf__row-data.col-6 50₽

    .payment-mf__row.total.row
        .payment-mf__row-title.col-6 К зачислению:
        .payment-mf__row-data.col-6 300₽

    input(type='hidden', name='shop', value=payment.shop )

    input(type='hidden', name='payment', value=payment.payment )

    input(type='hidden', name='currency', value=payment.currency )

    input(type='hidden', name='amount', value=payment.amount, step="1" )

    input(type='hidden', name='description', value=payment.description )

    input(type='hidden', name='sign', value=payment.sign )

    input(type='hidden', name='uv_user', value=payment.user )
    br
    button.flat-button.primary.full-width#pay-confirm Пополнить