extends layouts/_layout.pug

block content
    
    - if( locals.user )
        .row
            .col-6
                .box.background
                    h5 Профиль
                    include ./components/profile.pug

                    h5 Пополнение баланса
                        include ./components/payment-form.pug
            .col-6
                .box.background
                    h5 Выигрыши
                    include ./components/profile-wins.pug
    - else
        .row
            .col-12.align-center
                h4 Страница недоступна