extends layouts/_layout.pug

block content
    script.
        var skip = !{locals.reviews.length};
        var count = 20;
    
    .row
        .col-3
            .box.background.reviews-form
                h5 Оставить отзыв
                p.reviews-form__promo-text Оставь отзыв о нашем сайте и получи 9 рублей!
                form.clearfix( action="" )
                    textarea( name="reviewText", cols="30", rows="5", placeholder="Введите ваш отзыв.." )
                    .flat-button.primary.right-float( name="submitReview" ) Отправить
        .col-9
            .box.background
                h5 Отзывы
                .reviews
                    .reviews__container
                        each review in locals.reviews
                            .reviews-item
                                .reviews-item__header
                                    img(src=review.user.avatar, alt=`${review.user.firstName} ${review.user.lastName}`)
                                    span= `${review.user.firstName} ${review.user.lastName}`
                                .reviews-item__body
                                    span= review.text
                                .reviews-item__meta= review.time
                                    - if( review.liked !== undefined  )
                                        |
                                        | • 
                                        a.like( data-reviewId=review.id, liked=`${review.liked}` )= review.liked ?  'Не нравится!' : 'Нравится?'
                                        //- |
                                        //- | • 
                                        //- span.reviews-item__count= review.likes.count
                    
                    .more.full-width( href="#" ) Показать больше отзывов
                