extends layouts/_layout.pug

block content
    .row
        .col-12
            .box.background
                h5 Условия
                h6 1. Общие положения
                p 1.1. Продавец является владельцем Сайта, осуществляющим его администрирование.
                    br 
                    | 1.2. При оформлении Заказа, Покупатель принимает Условия продажи Товара (далее - Условия), которые в соответствии со ст. 435 и ч. 2 ст. 437 Гражданского Кодекса РФ являются публичной офертой.
                    br 
                    | 1.3. Все спорные вопросы решаются вне судебном порядке.
                    br 
                    | 1.4. Покупатель соглашается с Условиями нажатием кнопки «Купить» на этапе оформления Заказа на сайте.
                    br 
                    | 1.5. Товары имеют ограничения (подробнее написано в описании каждого Товара на страницах Сайта) и не предназначены для активации в некоторых странах.
                    br 
                    | 1.6. Сайт предоставляет услуги описанные в данном документе и информации, размещенной на страницах Сайта. Администрация Сайта не несет ответственность за рекламный материалы, которые были использованы Партнером для привлечения Покупателя на Сайт.
                    br 
                    | 1.7. В товарах может выпасть любая платная игра Steam (в том числе и игры из описания товара). Администрация оставляет за собой право изменять список доступных игр на свое усмотрение без дополнительного уведомления Покупателя.
                    br 
                    | 1.8. Администрация Сайта не несет ответственность за временные распродажи в Steam. Покупатель должен учитывать полную стоимость игры в Steam при анализе покупки.
                    br 
                    | 1.9. При покупке большого количества товара из категории могут выпасть одинаковые игры, но мы стараемся минимизировать эти случаи.
                    br 
                    | 1.10 Продавец обязуется доставить оплаченный товар в срок 72-ух часов с момента оплаты.
                    br 
                    | 1.11 Продавец приветствует бесконфликтное решение проблем и всегда готов обсуждать любые проблемы посредством обращений в Техническую Поддержку Покупателя.

                h6 2. Порядок оформления Заказа и доставка Товара
                p 2.1. При оформлении Заказа Покупатель должен указать электронный адрес, на который будет доставлен Товар.
                    br 
                    | 2.2. Доставка Товара осуществляется сразу же после оплаты.
                    br 
                    | 2.3. Любая информация, представленная на сайте, носит справочный характер. Для уточнения свойств и характеристик Товара, Покупатель должен обратиться к Продавцу.
                    br 
                    | 2.4. Оформление предзаказа.
                    br 
                    | 2.4.1. Продавец может предлагать лицензионный электронный ключ еще не поступившего в продажу программного продукта. Такой Товар оформляется как предзаказ.
                    br 
                    | 2.4.2. На сайте указывается срок поступления в продажу программного продукта. Указанный срок может быть изменен на основании информации, полученной от разработчика данного программного продукта.

                h6 3. Оплата Товара
                p 3.1. Цена Товара указана на сайте и может быть изменена продавцом в одностороннем порядке.
                    br 
                    | 3.2. Действующая цена указывается на последнем этапе оформления Заказа. После нажатия кнопки «Перейти к оплате», цена не может быть изменена Продавцом.
                    br 
                    | 3.3. Покупатель может выбрать любой способ оплаты из доступных при оформлении Заказа.
                    br 
                    | 3.4. Оплата банковскими картами
                    br 
                    | 3.4.1. Оплата банковской картой может осуществляться только ее владельцем, на основании положения ЦБ РФ «Об эмиссии банковских карт и об операциях, совершаемых с использованием платежных карт» от 24.12.2004 №266-П.
                    br 
                    | 3.4.2. Банк вправе отказать в осуществлении операции, если у него есть основания классифицировать данную операцию как подпадающую под действие статьи 159 УК РФ - мошенничество.
                    br 
                    | 3.4.3. Продавец имеет право отменить Заказ без объяснения причины. В этом случае стоимость Товара возвращается на банковскую карту, с которой производилась оплата.

                h6 4. Возврат и обмен Товара
                p 4.1. Товар, приобретенный Покупателем, не подлежит возврату или обмену, в случае если товар был получен.
                    br 
                    | 5. Авторское право
                    br 
                    | 5.1. Соблюдать авторские права, установленные законодательством РФ и СНГ. Использовать Товар только в личных некоммерческих целях.

                h6 6. Права и обязанности сторон
                p 6.1. Продавец имеет право переуступать и/или передавать свои права и обязанности, вытекающие из его отношений с Покупателем, третьим лицам.
                    br 
                    | 6.2. Продавец может предоставлять Покупателю скидки и бонусы. Их виды, правила начисления и условия получения указаны на сайте в разделах «Бонус», «Промо-код» и «Скидка».
                    br 
                    | 6.3. Продавец может менять скидки и бонусы, а также правила их начисления и условия получения в одностороннем порядке.
                    br 
                    | 6.4. Клиент обязуется использовать приобретенный Товар исключительно для личных, домашних, семейных целей, а также целей, не связанных с осуществлением коммерческой деятельности.

                h6 7. Прочие условия
                p 7.1. При возникновении вопросов, Покупатель имеет право обратиться к Продавцу по любому контакту, указанному на сайте в разделе «Помощь».
                    br 
                    | 7.2 В случае неработающего ключа или проблем с доставкой оплаченного товара покупатель в праве обратиться в техническую поддержку сайта где ему заменят товар при предоставлении доказательств бракованности ключа.
                    br 
                    | 7.3 Иногда на сайте случаются сбои и неполадки по, в какой-то мере, независящих от нас обстоятельств. (ДДОС Атаки, неполадки у сайта предоставляющего хостинг-услуги, и др.). В таком случае все оплаченные заказы по которым не пришёл товар замораживаются до полной починки сайта и восстановления его работоспособности.