extends ../layouts/_layout.pug

block variables
    - var activePage = 'users'
    - var activeGroup = 'none'

block title
    title Dashboard > Users

block content
    .app-title
        div
            h1
                i.fa.fa-user 
                |  Пользователи

        ul.app-breadcrumb.breadcrumb
            li.breadcrumb-item
                i.fa.fa-home.fa-lg
            li.breadcrumb-item
                a(href='#') Пользователи

    .row
        .col-md-12
            .tile
                .tile-body
                    table.table.table-hover#usersTable
                        thead
                            tr
                                th ID
                                th Имя
                                th Баланс
                                th Подкрутка
                                th Роль
                                th Управление
                        tbody
  
block specific-js
    script(type='text/javascript', src="/js/plugins/jquery.dataTables.min.js")
    script(type='text/javascript', src="/js/plugins/dataTables.bootstrap.min.js")
    script(type='text/javascript').
        $.fn.dataTable.pipeline = function ( opts ) {
            // Configuration options
            var conf = $.extend( {
                pages: 5,     // number of pages to cache
                url: '/dashboard/users',      // script url
                data: null,   // function or object with parameters to send to the server
                method: 'POST' // Ajax HTTP method
            }, opts );
        
            // Private variables for storing the cache
            var cacheLower = -1;
            var cacheUpper = null;
            var cacheLastRequest = null;
            var cacheLastJson = null;
        
            return function ( request, drawCallback, settings ) {
                var ajax          = false;
                var requestStart  = request.start;
                var drawStart     = request.start;
                var requestLength = request.length;
                var requestEnd    = requestStart + requestLength;
                
                if ( settings.clearCache ) {
                    // API requested that the cache be cleared
                    ajax = true;
                    settings.clearCache = false;
                }
                else if ( cacheLower < 0 || requestStart < cacheLower || requestEnd > cacheUpper ) {
                    // outside cached data - need to make a request
                    ajax = true;
                }
                else if ( JSON.stringify( request.order )   !== JSON.stringify( cacheLastRequest.order ) ||
                        JSON.stringify( request.columns ) !== JSON.stringify( cacheLastRequest.columns ) ||
                        JSON.stringify( request.search )  !== JSON.stringify( cacheLastRequest.search )
                ) {
                    // properties changed (ordering, columns, searching)
                    ajax = true;
                }
                
                // Store the request for checking next time around
                cacheLastRequest = $.extend( true, {}, request );
        
                if ( ajax ) {
                    // Need data from the server
                    if ( requestStart < cacheLower ) {
                        requestStart = requestStart - (requestLength*(conf.pages-1));
        
                        if ( requestStart < 0 ) {
                            requestStart = 0;
                        }
                    }
                    
                    cacheLower = requestStart;
                    cacheUpper = requestStart + (requestLength * conf.pages);
        
                    request.start = requestStart;
                    request.length = requestLength*conf.pages;
        
                    // Provide the same `data` options as DataTables.
                    if ( typeof conf.data === 'function' ) {
                        // As a function it is executed with the data object as an arg
                        // for manipulation. If an object is returned, it is used as the
                        // data object to submit
                        var d = conf.data( request );
                        if ( d ) {
                            $.extend( request, d );
                        }
                    }
                    else if ( $.isPlainObject( conf.data ) ) {
                        // As an object, the data given extends the default
                        $.extend( request, conf.data );
                    }

                    request.limit = table ? table.page.len() : 25 ;

                    settings.jqXHR = $.ajax( {
                        "type":     conf.method,
                        "url":      conf.url,
                        "data":     request,
                        "dataType": "json",
                        "cache":    false,
                        "success":  function ( json ) {
                            cacheLastJson = $.extend(true, {}, json);
        
                            if ( cacheLower != drawStart ) {
                                json.data.splice( 0, drawStart-cacheLower );
                            }
                            if ( requestLength >= -1 ) {
                                json.data.splice( requestLength, json.data.length );
                            }
                            
                            drawCallback( json );
                        }
                    } );
                }
                else {
                    json = $.extend( true, {}, cacheLastJson );
                    json.draw = request.draw; // Update the echo for each response
                    json.data.splice( 0, requestStart-cacheLower );
                    json.data.splice( requestLength, json.data.length );
        
                    drawCallback(json);
                }
            }
        };
        
        // Register an API method that will empty the pipelined data, forcing an Ajax
        // fetch on the next draw (i.e. `table.clearPipeline().draw()`)
        $.fn.dataTable.Api.register( 'clearPipeline()', function () {
            return this.iterator( 'table', function ( settings ) {
                settings.clearCache = true;
            } );
        } );
    
        var table = $('#usersTable').DataTable( {
            deferLoading: 25,
            processing: true,
            serverSide: true,
            ajax: $.fn.dataTable.pipeline( {
                url: '/dashboard/users',
                pages: 5 // number of pages to cache
            } ),

            columns: [
                { data: "id"  },
                { data: "name" },
                { 
                    data: "balance",
                    render: function( data ) {
                        return data + '₽' }},
                { 
                    data: "isTwisted",
                    render: function( data ) {
                        return data 
                            ? `<span class="text-primary">Активна</span>`
                            : `Отключена`
                    }

                },
                { 
                    data: "role",                     
                    render: function ( data ) {
                        return ( data === 'administrator' 
                            ? `<span class="badge badge-danger">Администратор</span>`
                            : `<span class="badge badge-dark">Пользователь</span>` )
                    } 
                },
                {
                    data: null,
                    render: function( data ) {
                        return `<a href="/dashboard/users/${data.id}">Редактировать</a>`;
                    },
                    defaultContent: 'test'
                }
            ]
        } );

        table.ajax.reload();