extends ../layouts/_layout.pug

block variables
    - var activePage = 'users'
    - var activeGroup = 'none'

    - var currentUser = locals.currentUser;

block title
    title= `Dashboard > Users > ${currentUser.firstName} ${currentUser.lastName}`

block content
    .app-title
        div
            h1
                i.fa.fa-user 
                |  Пользователи

        ul.app-breadcrumb.breadcrumb
            li.breadcrumb-item
                i.fa.fa-home.fa-lg
            li.breadcrumb-item
                a(href='/dashboard/users') Пользователи
            li.breadcrumb-item
                a(href='#')= currentUser.name
    .tile
        .info
            h4= currentUser.name
            p= { 'administrator': 'Администратор', 'default': 'Пользователь' }[ currentUser.role ]
    .tile
        h4.line-head Настройки
        form
            .row
                .col-md-8.mb-4
                    label Баланс
                    input.form-control( type='number', value=currentUser.balance, name="balance" )
                .clearfix
                .col-md-8.mb-4
                    label Роль
                    select( name="role", style="display: block;" )
                            option.dropdown-item( value="default", selected=currentUser.role=='default' ) Пользователь
                            option.dropdown-item( value="administrator", selected=currentUser.role=='administrator' ) Администратор
                .clearfix
                .col-md-8.mb-4
                    .form-check
                        label.form-check-label( for="twisted" )
                        input.form-check-input(  type="checkbox", name="twisted", checked=currentUser.isTwisted )
                        | Подкрутка

                    //- input.form-control(type='checkbox')

            .modal-footer
                button.btn.btn-primary( type='button' )
                    i.fa.fa-fw.fa-lg.fa-check-circle
                    | Save

block specific-js
    script.

        $( '.modal-footer button' ).click( function() {
            updateUser();
        } );

        function updateUser() {
            var data = {
                id: !{currentUser.id}
            };

            data.role = $( 'select[name=role]' ).val();
            data.isTwisted = Boolean( $( 'input[name=twisted]' ).prop("checked") );
            data.balance = Number( $( 'input[name=balance]' ).val()  );
            
            console.log( 'update data', data );

            $.ajax( {
                type: 'POST',
                url: '/dashboard/users.update',
                data: data,
                success: function( result ) {
                    console.log( 'update result' );

                    var $span = $( '.modal-footer span#message' );

                    if( $span )
                        $span.remove();

                    $( '.modal-footer' )
                            .prepend( result.success  
                                ? '<span id="message" class="text-success">Данные успешно обновлены!</span>'
                                : '<span id="message" class="text-danger">Не удалось обновить данные!</span>' );
                }
            });
        }
