extends ../layouts/_layout.pug

block variables
    - var activePage = 'settings'
    - var activeGroup = 'none'

block title
    title Dashboard > Settings

block content
    .app-title
        div
            h1
                i.fa.fa-settings 
                |  Настройки

        ul.app-breadcrumb.breadcrumb
            li.breadcrumb-item
                i.fa.fa-home.fa-lg
            li.breadcrumb-item
                a(href='#') Настройки

    .tile
        form#editor
        small#res

block specific-js
    script(type='text/javascript', src="/js/plugins/underscore-min.js")
    script(type='text/javascript', src="/js/plugins/underscore-min.js")
    script(type='text/javascript', src="/js/plugins/jsonform.js")

    script.
        $('form').jsonForm({
            schema: !{ JSON.stringify( locals.preferencesSchema ) },
            value: !{ JSON.stringify( locals.preferences )},
            onSubmit: function (errors, values) {

                console.log( errors, values );

                $( '#res' ).text( '' );

                if( errors )
                    $( '#res' ).text( 'Не обновлено!' );

                $.ajax({
                    type: 'POST',
                    data: { preferences: values },
                    url: '/dashboard.updatePrefs',
                    success: function( result ) {

                        $( '#res' ).text( result.error || 'Успешно обновлено!' );
                    }
                });
            }
        });
