extends ../layouts/_layout.pug

block variables
    - var activePage = 'keys'
    - var activeGroup = 'none'

block title
    title Dashboard > Keys

block content
    .app-title
        div
            h1
                i.fa.fa-key 
                |  Ключи

        ul.app-breadcrumb.breadcrumb
            li.breadcrumb-item
                i.fa.fa-home.fa-lg
            li.breadcrumb-item
                a(href='#') Ключи
    h4.mb-4 Список ключей
    .row.mb-4
        .col-md-12
            .tile
                .tile-body
                    table.table.table-hover#keysTable
                        thead
                            tr
                                th ID
                                th Ключ
                                th Игра
                                th Выигрыш
                                th Пользователь
                                th Управление
                        tbody

           
    .row
        .col-lg-12
            .card.mb-3.text-black.bg-light
                .card-header Добавить игры в рулетку
                .card-body
                    form.form-horizontal
                        .form-group
                            label(for='game') Игра
                            select#game.form-control
                                each game in locals.games
                                    option( value=game.id )= game.title
                        .form-group
                            label(for='keys') Список ключей
                            textarea.form-control#keys( placeholder="Введите список ключей..", rows="10" )
                            small.text-danger#keysError

                .modal-footer
                    button#add.btn.btn-primary(type='button')
                        i.fa.fa-fw.fa-lg.fa-plus
                        | Добавить


block specific-js

    script(type='text/javascript', src="/js/plugins/jquery.dataTables.min.js")
    script(type='text/javascript', src="/js/plugins/dataTables.bootstrap.min.js")

    script.
        $.fn.dataTable.pipeline = function ( opts ) {
            // Configuration options
            var conf = $.extend( {
                pages: 5,     // number of pages to cache
                url: '/dashboard/keys.get',      // script url
                data: null,   // function or object with parameters to send to the server
                method: 'POST' // Ajax HTTP method
            }, opts );
        
            // Private variables for storing the cache
            var cacheLower = -1;
            var cacheUpper = null;
            var cacheLastRequest = null;
            var cacheLastJson = null;
        
            return function ( request, drawCallback, settings ) {
                var ajax          = false;
                var requestStart  = request.start;
                var drawStart     = request.start;
                var requestLength = request.length;
                var requestEnd    = requestStart + requestLength;
                
                if ( settings.clearCache ) {
                    // API requested that the cache be cleared
                    ajax = true;
                    settings.clearCache = false;
                }
                else if ( cacheLower < 0 || requestStart < cacheLower || requestEnd > cacheUpper ) {
                    // outside cached data - need to make a request
                    ajax = true;
                }
                else if ( JSON.stringify( request.order )   !== JSON.stringify( cacheLastRequest.order ) ||
                        JSON.stringify( request.columns ) !== JSON.stringify( cacheLastRequest.columns ) ||
                        JSON.stringify( request.search )  !== JSON.stringify( cacheLastRequest.search )
                ) {
                    // properties changed (ordering, columns, searching)
                    ajax = true;
                }
                
                // Store the request for checking next time around
                cacheLastRequest = $.extend( true, {}, request );
        
                if ( ajax ) {
                    // Need data from the server
                    if ( requestStart < cacheLower ) {
                        requestStart = requestStart - (requestLength*(conf.pages-1));
        
                        if ( requestStart < 0 ) {
                            requestStart = 0;
                        }
                    }
                    
                    cacheLower = requestStart;
                    cacheUpper = requestStart + (requestLength * conf.pages);
        
                    request.start = requestStart;
                    request.length = requestLength*conf.pages;
        
                    // Provide the same `data` options as DataTables.
                    if ( typeof conf.data === 'function' ) {
                        // As a function it is executed with the data object as an arg
                        // for manipulation. If an object is returned, it is used as the
                        // data object to submit
                        var d = conf.data( request );
                        if ( d ) {
                            $.extend( request, d );
                        }
                    }
                    else if ( $.isPlainObject( conf.data ) ) {
                        // As an object, the data given extends the default
                        $.extend( request, conf.data );
                    }
                    
                    request.limit = table ? table.page.len() : 25 ;

                    settings.jqXHR = $.ajax( {
                        "type":     conf.method,
                        "url":      conf.url,
                        "data":     request,
                        "dataType": "json",
                        "cache":    false,
                        "success":  function ( json ) {
                            cacheLastJson = $.extend(true, {}, json);
        
                            if ( cacheLower != drawStart ) {
                                json.data.splice( 0, drawStart-cacheLower );
                            }
                            if ( requestLength >= -1 ) {
                                json.data.splice( requestLength, json.data.length );
                            }
                            
                            drawCallback( json );
                        }
                    } );
                }
                else {
                    json = $.extend( true, {}, cacheLastJson );
                    json.draw = request.draw; // Update the echo for each response
                    json.data.splice( 0, requestStart-cacheLower );
                    json.data.splice( requestLength, json.data.length );
        
                    drawCallback(json);
                }
            }
        };
        
        // Register an API method that will empty the pipelined data, forcing an Ajax
        // fetch on the next draw (i.e. `table.clearPipeline().draw()`)
        $.fn.dataTable.Api.register( 'clearPipeline()', function () {
            return this.iterator( 'table', function ( settings ) {
                settings.clearCache = true;
            } );
        } );
    
        var table = $('#keysTable').DataTable( {
            deferLoading: 25,
            pageLength: 25,
            processing: true,
            serverSide: true,
            ajax: $.fn.dataTable.pipeline( {
                url: '/dashboard/keys.get',
                pages: 0
            } ),

            columns: [
                { data: "id"  },
                { data: "value" },
                { 
                    data: "game",                     
                    render: function ( data ) {
                        return data 
                            ? `<a href='/dashboard/games/${data.id}'>${data.title}</a>`
                            : 'Не найдена' } 
                },
                { 
                    data: "win",
                    render: function( data ) {

                        return data
                            ? `<a href='/dashboard/wins/${data}'>#${data}</a>`
                            : 'Нет' }
                },
                { 
                    data: "user",
                    render: function( data ) {

                        return data 
                            ? `<a href='/dashboard/users/${data.id}'>${data.firstName} ${data.lastName}</a>`
                            : 'Нет' }
                },
                { 
                    data: null,
                    render: function( data ) {

                        return data 
                            ? `<button onclick='removeKey( ${ data.id } );' class='btn btn-link text-danger'>Удалить</button>`
                            : 'Нет' }
                }
            ]
        } );
        
        table.ajax.reload();


        $( 'button#add' ).click( function() {

            var data = {};

            data.game = $( 'select#game'  ).val();
            data.keys = $( 'textarea#keys' ).val();

            $.ajax( {
                type: 'POST',
                url: '/dashboard/keys.create',
                data: data,
                success: function( result ) {

                var $span = $( '.modal-footer span#message' );

                    if( $span )
                        $span.remove();

                    $( 'small#keysError' ).text( '' );

                    $( '.modal-footer' )
                            .prepend( result.success  
                                ? '<span id="message" class="text-success">Успешно добавлено ' + result.count + ' ключей!</span>'
                                : '<span id="message" class="text-danger">Не удалось добавить ключи!</span>' );

                    if( result.error ) {

                        var transformError = {
                            INVALID_KEYS: 'Ключи введены неверно!',
                            UNKNOWN_GAME: 'Неизвестная игра!'
                        }

                        $( 'small#keysError' ).text( transformError[result.error] );
                    }
                }
            })
        })

        function removeKey( id, game ) {
            var data = {
                ids: id
            }

            $.ajax( {
                type: 'POST',
                url: '/dashboard/keys.remove',
                data: data,
                success: function( result ) {

                    table.ajax.reload();
                    table.table();
                }
            });
        }

