extends ../layouts/_layout.pug

block variables
    - var activePage = 'packs'
    - var activeGroup = 'none'

    - var currentPack = locals.currentPack;

block title
    title= `Dashboard > Packs > Pack #${currentPack.id} (${currentPack.game.title})`

block content
    .app-title
        div
            h1
                i.fa.fa-archive 
                |  Коробки

        ul.app-breadcrumb.breadcrumb
            li.breadcrumb-item
                i.fa.fa-home.fa-lg
            li.breadcrumb-item
                a(href='/dashboard/packs') Коробки
            li.breadcrumb-item
                a(href='#')= `Коробка #${currentPack.id} (${currentPack.game.title})`

    .card.mb-3.text-black.bg-light
        .card-header= `Коробка #${currentPack.id} (${currentPack.game.title})`
        .card-body
            form.form-horizontal
                .form-group
                    label(for='game') Игра
                    select#game.form-control
                        each game in locals.games
                            option( value=game._id, selected=currentPack.game.id === game.id )= game.title
                .form-group.row
                    label.control-label.col-md-3 Лимит
                    .col-md-8
                        input.form-control.col-md-8(type='number', placeholder='Введите лимит..', name="limit", min="-1", value=currentPack.limit)
                .form-group.row
                    label.control-label.col-md-3 Продано
                    .col-md-8
                        input.form-control.col-md-8(type='number', placeholder='Сколько продано?', name="bought", min="0", value=currentPack.bought)
                .form-group.row
                    label.control-label.col-md-3 Цена
                    .col-md-8
                        input.form-control.col-md-8(type='number', placeholder='Введите цену..', name="price", min="0", value=currentPack.price)

        .modal-footer
            button#remove.btn.btn-danger(type='button')
                | Удалить
            button#edit.btn.btn-primary(type='button')
                i.fa.fa-fw.fa-lg.fa-plus
                | Изменить

block specific-js

    script.

        $( '#edit' ).click( function() {
            
            var data = { id: !{currentPack.id} };

            data.game = $( 'select#game'  ).val();
            data.price = $( 'input[name=price]'  ).val();
            data.bought = $( 'input[name=bought]'  ).val();
            data.limit = $( 'input[name=limit]'  ).val();

            $.ajax( {
                type: 'POST',
                url: '/dashboard/packs.edit',
                data: data,
                success: function( result ) {
                    var $span = $( '.modal-footer span#message' );

                    if( $span )
                        $span.remove();

                    $( '.modal-footer' )
                            .prepend( result.success  
                                ? '<span id="message" class="text-success">Коробка обновлена!</span>'
                                : '<span id="message" class="text-danger">Не удалось обновить коробку!</span>' );
                }
            });
        });

        $( '#remove' ).click( function() {

            $.ajax( {
                type: 'POST',
                url: '/dashboard/packs.remove',
                data: { id: !{currentPack.id} },
                success: function( result ) {
                    var $span = $( '.modal-footer span#message' );

                    if( $span )
                        $span.remove();

                    $( '.modal-footer' )
                            .prepend( result.success  
                                ? '<span id="message" class="text-success">Коробка обновлена!</span>'
                                : '<span id="message" class="text-danger">Не удалось обновить коробку!</span>' );
                }
            });
        });