header.app-header
	//- a.app-header__logo(href='index.html') Vali

	// Sidebar toggle button
	a.app-sidebar__toggle(href='#', data-toggle='sidebar', aria-label="Hide Sidebar")

	// Navbar Right Menu
	ul.app-nav

		//- li.app-search
		//- 	input.app-search__input(type="search", placeholder="Search")
		//- 	button.app-search__button: i.fa.fa-search

		//Notification Menu
		//- li.dropdown
		//- 	a.app-nav__item(href='#', data-toggle='dropdown' aria-label="Show notifications")
		//- 		i.fa.fa-bell-o.fa-lg
		//- 	ul.app-notification.dropdown-menu.dropdown-menu-right
		//- 		li.app-notification__title= `У вас 0 новых уведомлений`
		//- 		.app-notification__content
		//- 			li
		//- 				a.app-notification__item(href='javascript:;')
		//- 					span.app-notification__icon
		//- 						span.fa-stack.fa-lg
		//- 							i.fa.fa-circle.fa-stack-2x.text-primary
		//- 							i.fa.fa-envelope.fa-stack-1x.fa-inverse
		//- 					div
		//- 						p.app-notification__message Lisa sent you a mail
		//- 						p.app-notification__meta 2 min ago

		//- 			li
		//- 				a.app-notification__item(href='javascript:;')
		//- 					span.app-notification__icon
		//- 						span.fa-stack.fa-lg
		//- 							i.fa.fa-circle.fa-stack-2x.text-danger
		//- 							i.fa.fa-hdd-o.fa-stack-1x.fa-inverse
		//- 					div
		//- 						p.app-notification__message Mail server not working
		//- 						p.app-notification__meta 5 min ago

		//- 			li
		//- 				a.app-notification__item(href='javascript:;')
		//- 					span.app-notification__icon
		//- 						span.fa-stack.fa-lg
		//- 							i.fa.fa-circle.fa-stack-2x.text-success
		//- 							i.fa.fa-money.fa-stack-1x.fa-inverse
		//- 					div
		//- 						p.app-notification__message Transaction complete
		//- 						p.app-notification__meta 2 days ago

		//- 		li.app-notification__footer
		//- 			a(href='#') Все оповещения

		// User Menu
		li.dropdown
			a.app-nav__item(href='#', data-toggle='dropdown' aria-label="Open Profile Menu")
				i.fa.fa-user.fa-lg
			ul.dropdown-menu.settings-menu.dropdown-menu-right
				li
					a.dropdown-item(href='/auth/logout')
						i.fa.fa-sign-out.fa-lg
						|  Logout
