// Essential javascripts for application to work
script(src='/js/jquery-3.2.1.min.js')
script(src='/js/popper.min.js')
script(src='/js/bootstrap.min.js')
script(src='/js/main.js')

// The javascript plugin to display page loading on top
script(src='/js/plugins/pace.min.js')
