.app-sidebar__overlay(data-toggle="sidebar")
aside.app-sidebar

    //- - if( locals.user )
    //-     .app-sidebar__user
    //-         img.app-sidebar__user-avatar(src=locals.user.avatar, style="width: 32px; height: 32px")
    //-         div
    //-             p.app-sidebar__user-name= locals.user.name

    ul.app-menu
        li
            a.app-menu__item( href='/dashboard/' class={ 'active': activePage == 'settings' } )
                i.app-menu__icon.fa.fa-users
                span.app-menu__label Настройки

        li
            a.app-menu__item( href='/dashboard/users' class={ 'active': activePage == 'users' } )
                i.app-menu__icon.fa.fa-users
                span.app-menu__label Пользователи

        li
            a.app-menu__item( href='/dashboard/games' class={ 'active': activePage == 'games' } )
                i.app-menu__icon.fa.fa-gamepad
                span.app-menu__label Игры

        li
            a.app-menu__item( href='/dashboard/keys' class={ 'active': activePage == 'keys' } )
                i.app-menu__icon.fa.fa-key
                span.app-menu__label Ключи

        li
            a.app-menu__item( href='/dashboard/packs' class={ 'active': activePage == 'packs' } )
                i.app-menu__icon.fa.fa-archive
                span.app-menu__label Коробки
        li
            a.app-menu__item( href='/dashboard/promocodes' class={ 'active': activePage == 'promocodes' } )
                i.app-menu__icon.fa.fa-ticket
                span.app-menu__label Промокоды

        li
            a.app-menu__item( href='/dashboard/reviews' class={ 'active': activePage == 'reviews' } )
                i.app-menu__icon.fa.fa-comments
                span.app-menu__label Модерация отзывов

        li( style="margin-top: 40px;" )
            a.app-menu__item( href='/' )
                i.app-menu__icon.fa.fa-back
                span.app-menu__label На сайт
                  