extends ../layouts/_layout.pug

block variables
    - var activePage = 'games'
    - var activeGroup = 'none'

    - var currentGame = locals.currentGame;

block title
    title= `Dashboard > Games > ${currentGame.title}`

block content
    .app-title
        div
            h1
                i.fa.fa-user 
                |  Игры

        ul.app-breadcrumb.breadcrumb
            li.breadcrumb-item
                i.fa.fa-home.fa-lg
            li.breadcrumb-item
                a(href='/dashboard/games') Игры
            li.breadcrumb-item
                a(href='#')= currentGame.title
    .tile
        .info
            h4= currentGame.title
    .tile
        h4.tile-title.mb-4 Настроить игру
        .tile-body
            form.form-horizontal
                .form-group.row
                    label.control-label.col-md-3 Название
                    .col-md-8
                        input.form-control(type='text', placeholder='My Super Game', name="title", value=currentGame.title )
                .form-group.row
                    label.control-label.col-md-3 Steam
                    .col-md-8
                        input.form-control.col-md-8(type='number', placeholder='299₽', name="steamPrice", value=currentGame.steamPrice )
                .form-group.row
                    label.control-label.col-md-3 Продажа
                    .col-md-8
                        input.form-control.col-md-8(type='number', placeholder="99₽", name="sellPrice", value=currentGame.sellPrice )
                .form-group.row
                    label.control-label.col-md-3 Шанс
                    .col-md-8
                        input.form-control.col-md-8( type='number', placeholder='5%', name="dropChance", min="0", max="100", step="1" , value=currentGame.dropChance )
                .form-group.row#imageFile
                    label.control-label.col-md-3 Изображение
                    .col-md-8#uploadContainer
                        - if( currentGame.image )
                            img.mb-3#imagePreview( src=currentGame.image, style="width: 120px; height: 120px; object-fit: cover; border-radius: 4px; margin-top: 6px;" )
                        small.form-text.text-muted.mb-1 Максимальный размер файла —  2.5МБ. Разрешённые форматы: jpeg/jpg, png.                    
                        small.form-text.text-danger.mb-1#uploadError
                        small.form-text.mb-1#uploadProgress
                        input.form-control#imageFile(type='file', name="image" )
            
                .form-group.row
                    label.control-label.col-md-3 Скрывать на сайте
                    .col-md-8
                        input.form-check( type='checkbox', name="disabled", checked=currentGame.disabled ) 

        .modal-footer#game
            button#delete.btn.btn-danger(type='button')
                i.fa.fa-fw.fa-lg.fa-trash-o
                | Удалить

            button#update.btn.btn-primary(type='button')
                i.fa.fa-fw.fa-lg.fa-check-circle
                | Сохранить


block specific-js
    -if( currentGame.image )
        script.
            var currentImage = '!{currentGame.image}';
    
    script.
        var image = window.currentImage 
            ? window.currentImage 
            : null,

            isImageUploading = false;

        $( 'button#update' ).click( function() { 
            updateGame(); } );

        $( 'button#delete' ).click( function() { 
            deleteGame(); } );

        $( 'button#updateKeys' ).click( function() { 
            updateGameKeys(); } );

        function updateGame() {
            var data = {
                id: !{ currentGame.id }
            };

            data.title = $( 'input[name=title]' ).val();
            data.image = image;
            data.steamPrice = $( 'input[name=steamPrice]' ).val();
            data.sellPrice = $( 'input[name=sellPrice]' ).val();
            data.dropChance = $( 'input[name=dropChance]' ).val();
            data.disabled = $( 'input[name=disabled]' ).prop( 'checked' );


            console.log( data );

            $.ajax( {
                type: 'POST',
                url: '/dashboard/games.update',
                data: data,
                success: function( result ) {
                    

                    var $span = $( '.modal-footer#game span#message' );

                    if( $span )
                        $span.remove();

                    $( '.modal-footer#game' )
                            .prepend( result.success  
                                ? '<span id="message" class="text-success">Данные успешно обновлены!</span>'
                                : '<span id="message" class="text-danger">Не удалось обновить данные!</span>' );
                }
            });
        }

        function deleteGame() {
            var data = { id: !{currentGame.id} };

            $.ajax( {
                type: 'POST',
                url: '/dashboard/games.delete',
                data: data,
                success: function( result ) {
                    

                    var $span = $( '.modal-footer#game span#message' );

                    if( $span )
                        $span.remove();

                    if( result.success )
                        history.back();

                    $( '.modal-footer#game' )
                            .prepend( result.success  
                                ? '<span id="message" class="text-success">Игра удалена!</span>'
                                : '<span id="message" class="text-danger">Не удалось удалить игру!</span>' );
                }
            });
        }

        function updateGameKeys() {
            var data = {
                id: !{currentGame.id},
                keys: $( 'textarea[name=keys]' ).val()
            }
    
            $.ajax( {
                type: 'POST',
                url: '/dashboard/games.updateKeys',
                data: data,
                success: function( result ) {
                    

                    var $span = $( '.modal-footer#keys span#message' );

                    if( $span )
                        $span.remove();

                    $( '.modal-footer#keys' )
                            .prepend( result.success  
                                ? '<span id="message" class="text-success">Данные успешно обновлены!</span>'
                                : '<span id="message" class="text-danger">Не удалось обновить данные!</span>' );
                }
            });

            console.log( data );
        }

        $( '.row#imageFile' ).on( 'change', 'input#imageFile', function() {

            var file = $( 'input[name=image]' )[0].files[0];
            var preview = $( '#imagePreview' );

            if( !file )
                return;

            var fd = new FormData();    
                fd.append( 'image', file );

            isImageUploading = true;

            $( '#uploadProgress' ).text( 'Загрузка..' );

            $.ajax(  {
                type: 'POST',
                url: '/dashboard/games.uploadImage',
                data: fd,
                contentType: false,
                processData: false,
                success: function( result ) {
                    
                    $( '#uploadError' ).text( '' );

                    if( result.error ) {

                        var transformError = {
                            WRONG_FILE_EXTENSION: 'Неправильное расширение файла',
                            LIMIT_FILE_SIZE: 'Слишком большой файл'
                        }

                        $( '#uploadError' ).text( transformError[result.error] || 'Неизвестная ошибка!' );
                    } else {

                        if( !document.querySelector( '#imagePreview' ) )
                            $( '#uploadContainer' ).prepend( '<img class="mb-3" id="imagePreview" style="width: 120px; height: 120px; object-fit: cover; border-radius: 4px; margin-top: 6px;">' )
                        
                        var imagePreview = $( '#imagePreview' );

                        image = result.url;
                        $( '#imagePreview' ).attr( 'src', result.url );
                    }

                    isImageUploading = false;
                    
                    $( '#uploadProgress' ).text( '' );
                },
                error: function() {
                    $( '#uploadError' ).text( 'Неизвестная ошибка!' );
                    $( '#uploadProgress' ).text( '' );
                }
            })

            console.log( 'fileChanged', $( 'input[name=image]' )[0].files[0] );
        } )