extends ../layouts/_layout.pug

block variables
    - var activePage = 'games'
    - var activeGroup = 'none'

block title
    title Dashboard > Games

block content
    .app-title
        div
            h1
                i.fa.fa-user 
                |  Пользователи

        ul.app-breadcrumb.breadcrumb
            li.breadcrumb-item
                i.fa.fa-home.fa-lg
            li.breadcrumb-item
                a(href='#') Пользователи

    .row
        .col-md-12
            .tile
                .tile-body
                    table.table.table-hover#gamesTable
                        thead
                            tr
                                th ID
                                th Название
                                th Цена в Steam
                                th Цена
                                th Шанс
                                th Скрыта
                                th Управление
                        tbody
    .card
        .card-header Добавить игру
        .card-body
            form.form-horizontal
            .form-group.row
                label.control-label.col-md-3 Название
                .col-md-8
                    input.form-control(type='text', placeholder='My Super Game', name="title" )
            .form-group.row
                label.control-label.col-md-3 Steam
                .col-md-8
                    input.form-control.col-md-8(type='number', placeholder='299₽', name="steamPrice")
            .form-group.row
                label.control-label.col-md-3 Продажа
                .col-md-8
                    input.form-control.col-md-8(type='number', placeholder="99₽", name="sellPrice")
            .form-group.row
                label.control-label.col-md-3 Шанс
                .col-md-8
                    input.form-control.col-md-8( type='number', placeholder='5%', name="dropChance", min="0", max="100", step="1" ) 
            .form-group.row#imageFile
                label.control-label.col-md-3 Изображение
                .col-md-8#uploadContainer
                    //- img.mb-3#imagePreview( src='/uploads/76bd3f592c76c4651547912392282.jpeg', style="width: 120px; height: 120px; object-fit: cover; border-radius: 4px; margin-top: 6px;" )
                    small.form-text.text-muted.mb-1 Максимальный размер файла —  2.5МБ. Разрешённые форматы: jpeg/jpg, png.                    
                    small.form-text.text-danger.mb-1#uploadError
                    small.form-text.mb-1#uploadProgress
                    input.form-control#imageFile(type='file', name="image" )
            
            .form-group.row
                label.control-label.col-md-3 Скрывать на сайте
                .col-md-8
                    input.form-check( type='checkbox', name="disabled" ) 

            
        .modal-footer

            button#create.btn.btn-primary(type='button')
                i.fa.fa-fw.fa-lg.fa-check-circle
                | Добавить

block specific-js
    script(type='text/javascript', src="/js/plugins/jquery.dataTables.min.js")
    script(type='text/javascript', src="/js/plugins/dataTables.bootstrap.min.js")
    script.
        var image = false, isImageUploading = false;

        $.fn.dataTable.pipeline = function ( opts ) {
            // Configuration options
            var conf = $.extend( {
                pages: 5,     // number of pages to cache
                url: '/dashboard/users',      // script url
                data: null,   // function or object with parameters to send to the server
                method: 'POST' // Ajax HTTP method
            }, opts );
        
            // Private variables for storing the cache
            var cacheLower = -1;
            var cacheUpper = null;
            var cacheLastRequest = null;
            var cacheLastJson = null;
        
            return function ( request, drawCallback, settings ) {
                var ajax          = false;
                var requestStart  = request.start;
                var drawStart     = request.start;
                var requestLength = request.length;
                var requestEnd    = requestStart + requestLength;
                
                if ( settings.clearCache ) {
                    // API requested that the cache be cleared
                    ajax = true;
                    settings.clearCache = false;
                }
                else if ( cacheLower < 0 || requestStart < cacheLower || requestEnd > cacheUpper ) {
                    // outside cached data - need to make a request
                    ajax = true;
                }
                else if ( JSON.stringify( request.order )   !== JSON.stringify( cacheLastRequest.order ) ||
                        JSON.stringify( request.columns ) !== JSON.stringify( cacheLastRequest.columns ) ||
                        JSON.stringify( request.search )  !== JSON.stringify( cacheLastRequest.search )
                ) {
                    // properties changed (ordering, columns, searching)
                    ajax = true;
                }
                
                // Store the request for checking next time around
                cacheLastRequest = $.extend( true, {}, request );
        
                if ( ajax ) {
                    // Need data from the server
                    if ( requestStart < cacheLower ) {
                        requestStart = requestStart - (requestLength*(conf.pages-1));
        
                        if ( requestStart < 0 ) {
                            requestStart = 0;
                        }
                    }
                    
                    cacheLower = requestStart;
                    cacheUpper = requestStart + (requestLength * conf.pages);
        
                    request.start = requestStart;
                    request.length = requestLength*conf.pages;
        
                    // Provide the same `data` options as DataTables.
                    if ( typeof conf.data === 'function' ) {
                        // As a function it is executed with the data object as an arg
                        // for manipulation. If an object is returned, it is used as the
                        // data object to submit
                        var d = conf.data( request );
                        if ( d ) {
                            $.extend( request, d );
                        }
                    }
                    else if ( $.isPlainObject( conf.data ) ) {
                        // As an object, the data given extends the default
                        $.extend( request, conf.data );
                    }
        
                    settings.jqXHR = $.ajax( {
                        "type":     conf.method,
                        "url":      conf.url,
                        "data":     request,
                        "dataType": "json",
                        "cache":    false,
                        "success":  function ( json ) {
                            cacheLastJson = $.extend(true, {}, json);
        
                            if ( cacheLower != drawStart ) {
                                json.data.splice( 0, drawStart-cacheLower );
                            }
                            if ( requestLength >= -1 ) {
                                json.data.splice( requestLength, json.data.length );
                            }
                            
                            drawCallback( json );
                        }
                    } );
                }
                else {
                    json = $.extend( true, {}, cacheLastJson );
                    json.draw = request.draw; // Update the echo for each response
                    json.data.splice( 0, requestStart-cacheLower );
                    json.data.splice( requestLength, json.data.length );
        
                    drawCallback(json);
                }
            }
        };
        
        // Register an API method that will empty the pipelined data, forcing an Ajax
        // fetch on the next draw (i.e. `table.clearPipeline().draw()`)
        $.fn.dataTable.Api.register( 'clearPipeline()', function () {
            return this.iterator( 'table', function ( settings ) {
                settings.clearCache = true;
            } );
        } );
        console.log( 'table' );
    
        $('#gamesTable').DataTable( {
            processing: true,
            serverSide: true,
            ajax: $.fn.dataTable.pipeline( {
                url: '/dashboard/games',
                pages: 5 // number of pages to cache
            } ),

            columns: [
                { data: "id"  },
                { data: "title" },
                { 
                    data: "steamPrice",
                    render: function( data ) {

                        console.log( data );
                        return data + '₽' }
                },
                { 
                    data: "sellPrice",
                    render: function( data ) {

                        console.log( data );

                        return data + '₽' }
                },
                { 
                    data: "dropChance",                     
                    render: function ( data ) {
                        return data +  '%';
                    } 
                },
                { 
                    data: "disabled",                     
                    render: function ( data ) {
                        return data
                            ? `<span class="text-danger">Скрыта</span>`
                            : 'Показывается'
                    } 
                },
                {
                    data: null,
                    render: function( data ) {
                        return `<a href="/dashboard/games/${data.id}">Редактировать</a>`;
                    },
                    defaultContent: 'test'
                }
            ]
        } );
        console.log( 'button' );

        $( 'button#create').click( function() {

            if( isImageUploading )
                return  $( '#uploadError' ).text( 'Дождитесь загрузки изображения!' );

            if( !image )
                return  $( '#uploadError' ).text( 'Загрузите изображение!' );

            var data = {};

            data.title = $( 'input[name=title]' ).val();
            data.image = image;
            data.steamPrice = $( 'input[name=steamPrice]' ).val();
            data.sellPrice = $( 'input[name=sellPrice]' ).val();
            data.dropChance = $( 'input[name=dropChance]' ).val();
            data.disabled = $( 'input[name=disabled]' ).prop( 'checked' );

            $.ajax( {
                type: 'POST',
                url: '/dashboard/games.create',
                data: data,
                success: function( result ) {

                    var $span = $( '.modal-footer span#message' );

                    if( $span )
                        $span.remove();

                    $( '.modal-footer' )
                            .prepend( result.success  
                                ? '<span id="message" class="text-success">Игра создана!</span>'
                                : '<span id="message" class="text-danger">Не удалось создать игру!</span>' );

                    if( typeof result.success === 'number' ) {
                        image = false;

                        $( 'input[name=title]' ).val( '' );
                        $( 'input[name=steamPrice]' ).val( '' );
                        $( 'input[name=sellPrice]' ).val( '' );
                        $( 'input[name=dropChance]' ).val( '' );
                        $( 'input[name=disabled]' ).prop( 'checked', false );
                    }
                }
            });
        });

        $( '.row#imageFile' ).on( 'change', 'input#imageFile', function() {

            var file = $( 'input[name=image]' )[0].files[0];
            var preview = $( '#imagePreview' );

            if( !file )
                return;

            var fd = new FormData();    
                fd.append( 'image', file );

            isImageUploading = true;

            $( '#uploadProgress' ).text( 'Загрузка..' );

            $.ajax(  {
                type: 'POST',
                url: '/dashboard/games.uploadImage',
                data: fd,
                contentType: false,
                processData: false,
                success: function( result ) {
                    
                    $( '#uploadError' ).text( '' );

                    if( result.error ) {

                        var transformError = {
                            WRONG_FILE_EXTENSION: 'Неправильное расширение файла',
                            LIMIT_FILE_SIZE: 'Слишком большой файл'
                        }

                        $( '#uploadError' ).text( transformError[result.error] || 'Неизвестная ошибка!' );
                    } else {

                        if( !document.querySelector( '#imagePreview' ) )
                            $( '#uploadContainer' ).prepend( '<img class="mb-3" id="imagePreview" style="width: 120px; height: 120px; object-fit: cover; border-radius: 4px; margin-top: 6px;">' )
                        
                        var imagePreview = $( '#imagePreview' );

                        image = result.url;
                        $( '#imagePreview' ).attr( 'src', result.url );
                    }

                    isImageUploading = false;
                    
                    $( '#uploadProgress' ).text( '' );
                },
                error: function() {
                    $( '#uploadError' ).text( 'Неизвестная ошибка!' );
                    $( '#uploadProgress' ).text( '' );
                }
            })

            console.log( 'fileChanged', $( 'input[name=image]' )[0].files[0] );
        } )

