section.footer
    .footer__split
    .footer__container.row
        .col-9
            .footer__text Все названия продуктов, компаний и марок, логотипы и товарные знаки являются собственностью соответствующих владельцев. Все продаваемые ключи закупаются у официальных дилеров, работающих напрямую с издателями. В том числе с издателями: 1С, Бука, Новый Диск, Акелла и Electronic Arts.
        .col-3
            .footer__author Design & Development by
                | 
                a( href="https://fetbiko.ru/", target="_blank" ) FetBiko