section.header
    a.logo( href="/" )
        span.logo__color TOP
        | GAMES


    
    - if( locals.user )
        
        a.profile-preview.right-float( href="/profile" )
            img.profile-preview__avatar( src=locals.user.avatar )
            .profile-preview__info
                .profile-preview__name= locals.user.firstName
                .profile-preview__balance= `Баланс: ${locals.user.balance}₽`

        //- .notifications-preview.right-float
        //-     .notifications-preview__list
        //-         .notifications-preview__item.gift
        //-             .notification-icon.gift
        //-             .notifications-preview__counter 22
        //-         .notifications-preview__item
        //-             .notification-icon
        //-             .notifications-preview__counter 22

    - else 
        .login-button.right-float
            //- label.login-button__label Получи деньги после первого входа!
            a.flat-button.primary( href="/auth/login" ) Войти
    
    ul.navigation
        each li in locals.preferences.header.links
            li.navigation__item
                a( href=li.href )= li.title
        