
meta( charset="UTF-8" )
meta( name="viewport", content="width=device-width, initial-scale=1.0" )
meta( http-equiv="X-UA-Compatible", content="ie=edge" )

title= locals.title || "Игровые ключи Steam"

link( rel='stylesheet', type='text/css', href='/css/common.css' )

style.
    .box.background::after, .promocodes-item::after, body {
        background-image: url( !{locals.preferences.decorative.backgroundImage} ) !important;
    }