.footer {

    margin-top: 40px;
    
    &__split {
        height: 1px;
        width: 100%;
        background: linear-gradient(89.96deg, rgba(255, 160, 0, 0) 0%, #FF7700 48.07%, rgba(255, 160, 0, 0) 100%);
    }

    &__container {
        margin: 20px 0;
    }

    &__author {
        float: right;
        text-transform: uppercase;
        font-size: 12px;

        font-weight: 600;

        text-align: right;
        color: #FFFFFF;
    }

    &__text {

        font-size: 10px;
        line-height: 14px;
        color: #FFFFFF;
        opacity: 0.25;

        &:hover  {

            opacity: .75;
        }
    }
}