.header {
    padding: 0 10px;
    margin: 30px 0 20px 0;
}

.logo {
    font-size: 20px;
    font-weight: 500;
    line-height: 46px;
    text-transform: uppercase;

    color: white;

    &__color { color: $colorPrimary; }
}

.navigation {

    margin: 0 0 0 72px;
    display: inline-block;

    padding-left: 0;
    list-style: none;

    &__item {

        display: inline-block;
        margin-left: 32px;
        font-size: 15px;
        font-weight: 400;

        &:first-child { margin-left: 0; }

        a {

            color: white !important;

            &:hover { color:  $colorPrimary !important; }
        }
    }
}

.profile-preview {

    height: 46px;
    margin-top: 3px;

    &__avatar {

        width: 40px;
        height: 40px;

        border-radius: 50%;
    }

    &__info {

        float: right;
        margin-left: 12px;
        font-size: 14px;

        color: white;
    }

    &__name {

        line-height: 20px;
        font-weight: 600;
    }

    &__balance {

        line-height: 18px;
    }
}

.login-button {

    &__label {
        margin-right: 12px;
    }
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .navigation { 

        display: flex;
        justify-content: space-between;
        flex-flow: wrap;

        width: 100%;
        margin: 20px 0;

        &__item {
            margin-left: 0;
            font-size: 15px;
            padding: 8px;
        }
    }
}