.live-games {

    &__title {

        h5, h6 {
            display: inline-block;
            margin: 0;
            margin-right: 20px;
        }

        margin-bottom: 20px;
    }

    &__container  {
        padding-bottom: 10px;

        margin-bottom: -10px;
        display: flex;
        flex-direction: row;

        justify-content: space-between;
        
        overflow: hidden;
        overflow-x: scroll;

        scroll-behavior: smooth;
    }
    
    &__item {
        text-align: center;

        margin-left: 20px;

        &:first-child { margin-left: 0; }

        width: 128px;
    }

    // &__item.small {

    //     width: 96px;

    //     .live-games__image {
    //         width: 96px;
    //         height: 72px;
    //     }
    // }

    &__image {

        width: 128px;
        height: 96px;

        border-radius: 8px;
        object-fit: cover;
    }

    &__hint {
        font-size: 12px;
        line-height: 20px;

        white-space: nowrap;
        overflow: hidden !important;
        text-overflow: ellipsis;
    }

    &__time {

        font-size: 10px;
        opacity: .5;
        line-height: 15px;
    }
}

@keyframes online-loading {
    0% { opacity: .25; }
    100% { opacity: 1; }
}

.online-status {

    display: inline-block;

    &::before {
        content:"\A";
        display: inline-block;

        border-radius: 50%;

        width: 10px;
        height: 10px;

        background: #8FFF00;
        box-shadow: 0px 1px 8px rgba(143, 255, 0, 0.5);

        animation: online-loading 5s ease infinite alternate;
    }

    &__text {
        opacity: .5;
        font-size: 10px;
        margin-left: 5px;
    }
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .live-games { 

        &__item {

            width: 80px;
        }

        &__image {

            width: 80px;
            height: 60px;
        }
    }
}

/*

.live-games__item
            img.live-games__image
            .live-games__hint
            .live-games__time/@include

*/