.notification-icon {

    width: 32px;
    height: 32px;

    background: url("data:image/svg+xml,%3Csvg width='17' height='16' viewBox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.0078 12.0423C14.5685 10.7922 13.2365 9.02845 13.2365 4.62492C13.2365 2.07472 11.1705 -3.5881e-08 8.63114 0C6.0914 1.92469e-08 4.02518 2.07472 4.02518 4.62492C4.02518 9.03245 2.69366 10.7944 1.25304 12.0435C0.853626 12.3928 0.624512 12.896 0.624512 13.4239C0.624512 13.7145 0.859074 13.95 1.1484 13.95L6.12011 13.95C6.36263 15.119 7.39616 16 8.63086 16C9.86556 16 10.8992 15.119 11.1416 13.95H16.1133C16.4026 13.95 16.6372 13.7145 16.6372 13.4239C16.6372 12.8917 16.4075 12.3878 16.0078 12.0423ZM8.63086 14.9477C7.97844 14.9477 7.42096 14.5318 7.20721 13.95H10.0545C9.84076 14.5318 9.28328 14.9477 8.63086 14.9477ZM1.87863 12.8978C1.8977 12.877 1.91803 12.8572 1.93947 12.8385C4.13582 10.9342 5.07289 8.47777 5.07289 4.62492C5.07289 2.65494 6.66914 1.05227 8.63107 1.05227C10.5927 1.05227 12.1886 2.65494 12.1886 4.62492C12.1886 8.47426 13.1258 10.9306 15.3233 12.839C15.3447 12.8576 15.3651 12.8772 15.3842 12.8978H1.87863Z' fill='white'/%3E%3C/svg%3E%0A") no-repeat;

    background-position: center;
    background-size: 16px 16px;
    
    &.gift {

        background-image: url("data:image/svg+xml,%3Csvg width='17' height='16' viewBox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.2609 3.75H13.3519C13.647 3.358 13.8223 2.87097 13.8223 2.34375C13.8223 1.05141 12.77 0 11.4767 0C10.6976 0 10.1231 0.278906 9.66874 0.877719C9.2886 1.37872 9.01063 2.07822 8.66199 2.96203C8.31334 2.07819 8.03538 1.37872 7.65524 0.877719C7.20085 0.278906 6.62637 0 5.8473 0C4.55395 0 3.50172 1.05141 3.50172 2.34375C3.50172 2.87097 3.67695 3.358 3.97212 3.75H2.06311C1.2871 3.75 0.655762 4.38084 0.655762 5.15625V6.09375C0.655762 6.70484 1.04797 7.22587 1.59399 7.41937V14.5938C1.59399 15.3692 2.22533 16 3.00134 16H14.3226C15.0986 16 15.73 15.3692 15.73 14.5938V7.41937C16.276 7.22587 16.6682 6.70484 16.6682 6.09375V5.15625C16.6682 4.38084 16.0369 3.75 15.2609 3.75ZM9.52309 3.33562C10.2417 1.51381 10.515 0.9375 11.4767 0.9375C12.2527 0.9375 12.884 1.56834 12.884 2.34375C12.884 3.11916 12.2527 3.75 11.4767 3.75H9.359C9.41648 3.60578 9.4713 3.46694 9.52309 3.33562ZM5.8473 0.9375C6.80902 0.9375 7.08223 1.51381 7.80088 3.33562C7.85267 3.46694 7.90749 3.60578 7.96498 3.75H5.8473C5.07129 3.75 4.43995 3.11916 4.43995 2.34375C4.43995 1.56834 5.07129 0.9375 5.8473 0.9375ZM6.78553 15.0625H3.00134C2.74267 15.0625 2.53222 14.8522 2.53222 14.5938V7.5H6.78553V15.0625ZM6.78553 6.5625H2.06311C1.80444 6.5625 1.59399 6.35222 1.59399 6.09375V5.15625C1.59399 4.89778 1.80444 4.6875 2.06311 4.6875H6.78553V6.5625ZM9.60022 15.0625H7.72376V4.6875C7.82205 4.6875 9.06105 4.6875 9.60022 4.6875V15.0625ZM14.7918 14.5938C14.7918 14.8522 14.5813 15.0625 14.3226 15.0625H10.5384V7.5H14.7918V14.5938ZM15.73 6.09375C15.73 6.35222 15.5195 6.5625 15.2609 6.5625H10.5384V4.6875H15.2609C15.5195 4.6875 15.73 4.89778 15.73 5.15625V6.09375Z' fill='white'/%3E%3C/svg%3E%0A");
    }
}

.notifications-preview {

   
    &__list &__item {

        margin-left: 8px;
        
        &:first-child {
            margin-left: 0;
        }
    }

    &__list  {
        margin-right: 24px;
        margin-top: 8px;
        display: inline-flex;
    }

    &__item {

        cursor: pointer;

        background: $gradientSecondary;
        border-radius: 50%;
        position: relative;
        width: 32px;
        height: 32px;

    }

    &__item.gift {

        background: $gradientPrimary;
    }

    &__item:hover &__counter {

        visibility: visible;
    }

    &__counter {

        visibility: hidden;

        width: 100%;
        position: absolute;

        bottom: -15px;

        background: rgba( 0, 0, 0, .5 );

        font-size: 9px;
        line-height: 12px;

        border-radius: 5px;
        padding: 0 5px;
        text-align: center;
    }
}