.payment-form {

    position: relative;
    max-width: 360px;    
    margin-top: 20px;

    & input[type=number] {

        height: 44px;
        width: 100%;

        max-width: 360px;
        background: rgba(0, 0, 0, 0.25);
        border-radius: 22px;
        font-size: 15px;
        line-height: 44px;
        padding: 0 20px;

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button { 
            -webkit-appearance: none; 
            margin: 0; 
        }
    }

    & button {
        position: absolute;

        right: 0;
        top: 0;

        height: 44px;
        width: 44px;

        font-size: 24px;
        line-height: 44px;

        border-radius: 22px;
        padding: 0;
    }
}

.payment-mf {

    &__row {

        text-align: left;
        font-size: 15px;
        line-height: 15px;

        &.total {

            margin: 10px 0;

            .payment-mf__row-data { color: $colorPrimary; }
        }
    }

    &__row-title {

        opacity: .5;
    }

    &__row-data {

        font-weight: 500;
    }

    &__button {

    }
}