.profile {

    display: flex;
    width: 100%;
    margin-bottom: 40px;
    
    &__avatar {
        width: 64px;
        height: 64px;
        border-radius: 50%;
    }

    &__info {
        margin-left: 20px;
        font-size: 14px;
        color: #fff;
    }

    &__name {
        font-size: 18px;
        line-height: 32px;
        font-weight: 500;
    }

    &__balance {
        font-size: 15px;
        line-height: 32px;
    }
}