.promocodes {

    margin-top: 80px;

    &__title {

        h4, h5, h6 {
            margin-bottom: 0;
        }

        
    }

    &__description {
        
        margin-bottom: 30px;
        max-width: 580px;

        p  { 
            margin: 15px 0 !important;
            font-size: 15px;
        }
        
    }

    &__container {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
}

.promocodes-item {
    flex-grow: 4;
    position: relative;
    margin: 7px;
    max-width: 295px;
    box-sizing: border-box;

    @include blurBackground();

    &:first-child  { margin-left: 0; }

    &__image {
        --aspect-ratio: 1;
        width: 100%;
        background-size: cover;
        border-radius: 8px 8px 0 0;
    }

    &__container {

        padding: 20px;
        box-sizing: border-box;
    }

    &__title {

        font-size: 16px;
        font-weight: 500;
    }

    &__counters {

        display: flex;
        justify-content: space-between;

        margin: 15px 0 30px;
    }
}

.counter {

    &__label {

        font-size: 14px;
        opacity: .75;

        margin-bottom: 5px;
    }

    &__value {

        font-weight: 600;
        font-size: 24px;
        color: $colorPrimary;
    }
}

.paginator {

    display: flex;
    justify-content: space-evenly;
    margin: 25px auto;

    max-width: 640px;

    &__item {

        cursor: pointer;
        text-align: center;
        width: 128px;
        font-size: 18px;
        font-weight: 600;

        &:hover {
            color: $colorPrimary;
        }
    }
}
@media only screen and (max-width: 1300px) {
    
    .promocodes {

        &__container {

            justify-content: space-evenly;
        }
    }
}

@media only screen and (max-width: 768px) {

    .promocodes {

        &__title, &__description  {

            text-align: center;
        }
    }
}
