.reviews {

}

.reviews-item {

    margin-top: 20px;

    &:first-child {
        margin: 0;
    }

    &__header {

        display: flex;
        font-weight: 600;
        line-height: 32px;

        color: white;

        img {          
            width: 32px;
            height: 32px;
            border-radius: 50%;
            margin-right: 15px;

        }
    }
    &__body {
        opacity: .75;
        font-size: 15px;
        line-height: 19px;
        margin-left: 47px;
    }

    &__meta {
        margin-top: 5px;
        opacity: .75;
        font-size: 12px;
        margin-left: 47px;

        .like  {

            color: white;

            &:hover {
                color: $colorPrimary;
            }

            &[liked="true"] {
                color: $colorPrimary;

                &:hover {
                    color: white;
                }
            }
        }
    }
}

.reviews-form {

    h4, h5, h6 { margin-bottom: 20px;  }

    textarea {
        width: 100%;
    }
    
    &__promo-text {
        margin: 15px 0 10px;
        font-size: 15px;
        font-weight: 200;
        opacity: .75;
    }
}