.roulette {

    margin: 80px 0 40px;
    display: flex;
    justify-content: center;
}

.roulette-roll {

    display: flex;
    justify-content: center;

}

.roulette-roll__whell {
    min-width: 1200px;
    position: relative;
    display: inline-flex;
    justify-content: left;

    transition: 'left 5s';
    left: 0;
}

.roulette-controls {
    display: flex;
    justify-content: center;

    &__container {
        text-align: center;
    }

    &__chance  {
        font-size: 15px;
        line-height: 20px;
        margin: 20px 0 10px;
        color: #FFFFFF;
        opacity: 0.5;
    }

    &__games {
        font-size: 15px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;

        &:hover {

            color: $colorPrimary;
        }
    }
}

.roll-item  {

    min-width: 240px;
    height: 300px;

    background-image: url( /img/sample-game.jpg );
    background-size: cover;
    background-position: center;

    border-radius: 8px;

    // transition: all ease .1s;
    // &:first-child, &:last-child {
    //     transform: scale( .6 );
    //     opacity: .6;
    // }

    // &:nth-last-child(2), &:nth-child(2) {
    //     transform: scale( .8 );
    //     opacity: .8;
    // }
}

.modal-games {

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 40px;
    }
    
    &__item {
        text-align: center;
        padding: 4px 4px 10px;
        width: 140px;
        background: rgba(0, 0, 0, 0.1);
        border-radius: 12px;
        box-sizing: content-box;
        margin: 10px 5px;
    }

    &__price {
        font-size: 12px;
        line-height: 16px;
        font-weight: 500;
        color: $colorSecondary;
    }

    &__image {

        width: 140px;
        height: 105px;
        object-fit: cover;

        margin-bottom: 5px;

        border-radius: 8px;
    }

    &__title {
        font-size: 12px;
        line-height: 16px;
        font-weight: 500;
    }
}