.win-modal {
 
    & h4 {

        margin-bottom: 40px;
    }

    &__image {

        width: 200px;
        height: 200px;

        margin-bottom: 40px;

        border-radius: 50%;
    }

    &__prize {
        font-size: 24px;
        text-align: center;  
        user-select: all;    
    }

    &__extra { }

    &__steam-container {
        display: inline-flex;
        height: 32px;
        margin-bottom: 40px;
    }

    &__steam-icon {
        display: inline-block;

        height: 32px;
        width: 32px;

        margin-right: 15px;
        
        background: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5258 24.6446L7.37769 23.4288C7.79842 25.1191 9.32479 26.3715 11.1471 26.3715C13.2924 26.3715 15.034 24.6323 15.034 22.4846C15.034 20.3419 13.2924 18.6002 11.1471 18.6002C10.3742 18.6002 9.65501 18.8277 9.05082 19.2166L12.1598 20.4152C13.3266 20.8678 13.9088 22.1789 13.4587 23.3457C13.0062 24.5149 11.6951 25.0995 10.5258 24.6446Z' fill='white'/%3E%3Cpath d='M22.519 15.5671C25.1755 15.5671 27.3354 13.4072 27.3354 10.7507C27.3354 8.09424 25.1755 5.93433 22.519 5.93433C19.865 5.93433 17.7026 8.09424 17.7026 10.7507C17.7026 13.4047 19.865 15.5671 22.519 15.5671ZM22.519 7.35796C24.3927 7.35796 25.9142 8.87944 25.9142 10.7507C25.9142 12.622 24.3927 14.1435 22.519 14.1435C20.6478 14.1435 19.1263 12.622 19.1263 10.7507C19.1263 8.87944 20.6478 7.35796 22.519 7.35796Z' fill='white'/%3E%3Cpath d='M27.8049 0.00231934H4.19508C1.87617 0.00231934 0 1.88093 0 4.1974V15.7161L6.10304 18.0742C7.28451 16.7068 9.01636 15.8311 10.9586 15.7993L14.6253 10.9071C14.6253 6.57012 18.1428 3.05506 22.4773 3.05506C26.8143 3.05506 30.3293 6.57012 30.3293 10.9071C30.3293 13.2871 29.2677 15.4201 27.5946 16.8609C26.2174 18.0424 24.4317 18.7591 22.4773 18.7591C22.2718 18.7591 22.0688 18.7493 21.8682 18.7322L17.6071 21.9439C17.6169 22.0785 17.6218 22.2154 17.6218 22.3524C17.6218 25.9727 14.6864 28.9129 11.0662 28.9129C7.44596 28.9129 4.51063 25.9751 4.51063 22.3524C4.51063 22.3426 4.51063 22.328 4.51063 22.3157L0 20.5741V27.8023C0 30.1188 1.87861 31.9974 4.19508 31.9974H27.8049C30.1214 31.9974 32 30.1188 32 27.8023V4.19984C32 1.88338 30.1214 0.00231934 27.8049 0.00231934Z' fill='white'/%3E%3C/svg%3E%0A") no-repeat;
    }

    &__steam-text {

        display: inline-block;
        font-size: 15px;
        color: rgba(255, 255, 255, 0.75);

        line-height: 32px;
    }

}

.wins-list {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 40px;

    &__item {

        position: relative;

        cursor: pointer;

        width: 128px;
        height: 96px;

        margin: 5px;

        &:hover {

            .wins-list__content {
                opacity: 1;
            }
        }
    }

    &__image {
        width: 128px;
        height: 96px;
        object-fit: cover;

        border-radius: 8px;
    }

    &__content {

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        padding: 10px;
        text-align: center;

        background: rgba( 0, 0, 0, .75 );

        border-radius: 7.5px;

        transition: opacity ease .3s;

        opacity: 0;
    }

    &__game-title {
        margin-top: 5px;
        font-size: 14px;
        line-height: 18px;
        font-weight: 500;
    }

    &__prize {

        margin-top: 7.5px;
        font-size: 12px;
        line-height: 15px;
    
        &.no {
            color: $colorSecondary;
        }
    }
}