

.box.background
    .live-games

        .live-games__title
            h6 Прямой эфир выигрышей
            .online-status 
                span.online-status__text#onlineStatus= `${locals.online} играют сейчас`

        .live-games__container
            each item in locals.lives
                .live-games__item( data-_id=item._id )
                    img( src=item.game.image ).live-games__image
                    .live-games__hint= item.user
                    .live-games__time= item.ago

