.profile
    img.profile__avatar( src=locals.user.avatar )
    .profile__info
        .profile__name= locals.user.firstName + ' ' + locals.user.lastName
        .profile__balance= 'Баланс: '  + locals.user.balance + '₽'