- if( locals.wins && locals.wins.length > 0 )
    .wins-list
        each win in locals.wins
            .wins-list__item( data-id= win.id )
                img.wins-list__image( src= win.game.image )
                .wins-list__content
                    .wins-list__game-title= win.game.title

                    - if( win.locked )
                        .wins-list__prize= win.key ? win.key : win.game.sellPrice + '₽'
                    - else
                        .wins-list__prize.no= 'Выбери приз!'
    .more.full-width#winsMore Показать больше
- else  
    p.align-center Выигрышей пока нет!

script.
    window.winsSkip = !{ locals.wins ? locals.wins.length : 0 };