
.promocodes
    .promocodes__title
        h3 Коробки
    .promocodes__description
        p Самые выгодные предложения: скидки до 90%! Количество ключей ограничено, требуется промокод.
            a( href=preferences.community.url ) Получить промокод

    .promocodes__container
        each pack in locals.packs
            .promocodes-item( id='pack_' + pack.id )
                .promocodes-item__image( style=`--aspect-ratio: 1; background-image: url(${pack.game.image})` )
                .promocodes-item__container
                    .promocodes-item__title= pack.game.title

                    .promocodes-item__counters
                        //- .counter
                        //-     label.counter__label До конца акции:
                        //-     .counter__value 01:42:39
                        .counter
                            label.counter__label Ключей осталось:
                            .counter__value#limit= `${pack.limit - pack.bought} / ${pack.limit}`

                    div
                        input.full-width.big(type="text", name="packCode" + pack.id, placeholder="Введите промокод..")
                        button.flat-button.primary.full-width.big( type="submit", name="packActivation", data-id=pack.id )= `Получить за ${pack.price}₽` 

    //- .paginator
    //-     .paginator__item 1
    //-     .paginator__item 2
    //-     .paginator__item 3
    //-     .paginator__item 4