.roulette
    .roulette-roll
        .roulette-roll__whell#wheel
            //- each item in new Array( 5 )
            //-     .roll-item

.roulette-controls
    .roulette-controls__container
        button.flat-button.primary#roulette_play= `Крутить за ${locals.preferences.roulette.price}₽`

        .roulette-controls__chance Увеличь шанс на победу:
        .toggle
            .toggle__container
                input( type="radio", name="chance", value="OFF", id="chance_off", checked="true" )
                label.toggle__text( for="chance_off" ) OFF
                input( type="radio", name="chance", value="2", id="chance_x2" )
                label.toggle__text( for="chance_x2" ) X2
                input( type="radio", name="chance", value="4", id="chance_x4" )
                label.toggle__text( for="chance_x4" ) X4
                input( type="radio", name="chance", value="8", id="chance_x8" )
                label.toggle__text( for="chance_x8" ) X8

        a.roulette-controls__games#modalGames( href="#" ) Что может выпасть?
