@import './vendor/variables';
@import './vendor/mixins';
@import './vendor/normalize';
@import './general/';
@import './components/';


[style*="--aspect-ratio"] > :first-child {
    width: 100%;
  }
  [style*="--aspect-ratio"] > img {  
    height: auto;
  } 
  @supports (--custom:property) {
    [style*="--aspect-ratio"] {
      position: relative;
    }
    [style*="--aspect-ratio"]::before {
      content: "";
      display: block;
      padding-bottom: calc(100% / (var(--aspect-ratio)));
    }  
    [style*="--aspect-ratio"] > :first-child {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
    }  
  }
// body {    
//     @include bg();
// }

// .box {

//     position: relative;
//     // width: 480px;
//     // margin: 0 auto;

//     padding: 30px;
//     background: rgba(33, 33, 51, 0.5);
    
//     border-radius: 8px;

//     &::after {
//         content: "";
//         position: absolute;
//         top: 0;
//         left: 0;
//         right: 0;
//         bottom: 0;
//         filter: blur(2px);
//         z-index: -2;
//         @include bg();
//     }
    
// }
