extends ../layouts/_layout.pug

block variables
    - var activePage = 'promocodes'
    - var activeGroup = 'none'

block title
    title Dashboard > Promocodes

block content
    .app-title
        div
            h1
                i.fa.fa-archive 
                | Промокоды

        ul.app-breadcrumb.breadcrumb
            li.breadcrumb-item
                i.fa.fa-home.fa-lg
            li.breadcrumb-item
                a(href='#') Промокоды

    .row
        .col-md-12
            .tile
                .tile-body
                    table.table.table-hover#promocodesTable
                        thead
                            tr
                                th ID
                                th Коробка
                                th Промокод
                                th Управление
                        tbody

    .card.mb-3.text-black.bg-light
        .card-header Создать промокод
        .card-body
            form.form-horizontal
                .form-group
                    label(for='pack') Коробка
                    select#pack.form-control
                        each pack in locals.packs
                            option( value=pack._id )= `#${pack.id} (${pack.game.title} )`
                .form-group.row
                    label.control-label.col-md-3 Промокод
                    .col-md-8
                        input.form-control.col-md-8(type='text', placeholder='Введите промокод..', name="code")


        .modal-footer
            button#add.btn.btn-primary(type='button')
                i.fa.fa-fw.fa-lg.fa-plus
                | Создать

block specific-js
    script(type='text/javascript', src="/js/plugins/jquery.dataTables.min.js")
    script(type='text/javascript', src="/js/plugins/dataTables.bootstrap.min.js")
    
    script.
        $.fn.dataTable.pipeline = function ( opts ) {
            // Configuration options
            var conf = $.extend( {
                pages: 5,     // number of pages to cache
                url: '/dashboard/packs',      // script url
                data: null,   // function or object with parameters to send to the server
                method: 'POST' // Ajax HTTP method
            }, opts );
        
            // Private variables for storing the cache
            var cacheLower = -1;
            var cacheUpper = null;
            var cacheLastRequest = null;
            var cacheLastJson = null;
        
            return function ( request, drawCallback, settings ) {
                var ajax          = false;
                var requestStart  = request.start;
                var drawStart     = request.start;
                var requestLength = request.length;
                var requestEnd    = requestStart + requestLength;
                
                if ( settings.clearCache ) {
                    // API requested that the cache be cleared
                    ajax = true;
                    settings.clearCache = false;
                }
                else if ( cacheLower < 0 || requestStart < cacheLower || requestEnd > cacheUpper ) {
                    // outside cached data - need to make a request
                    ajax = true;
                }
                else if ( JSON.stringify( request.order )   !== JSON.stringify( cacheLastRequest.order ) ||
                        JSON.stringify( request.columns ) !== JSON.stringify( cacheLastRequest.columns ) ||
                        JSON.stringify( request.search )  !== JSON.stringify( cacheLastRequest.search )
                ) {
                    // properties changed (ordering, columns, searching)
                    ajax = true;
                }
                
                // Store the request for checking next time around
                cacheLastRequest = $.extend( true, {}, request );
        
                if ( ajax ) {
                    // Need data from the server
                    if ( requestStart < cacheLower ) {
                        requestStart = requestStart - (requestLength*(conf.pages-1));
        
                        if ( requestStart < 0 ) {
                            requestStart = 0;
                        }
                    }
                    
                    cacheLower = requestStart;
                    cacheUpper = requestStart + (requestLength * conf.pages);
        
                    request.start = requestStart;
                    request.length = requestLength*conf.pages;
        
                    // Provide the same `data` options as DataTables.
                    if ( typeof conf.data === 'function' ) {
                        // As a function it is executed with the data object as an arg
                        // for manipulation. If an object is returned, it is used as the
                        // data object to submit
                        var d = conf.data( request );
                        if ( d ) {
                            $.extend( request, d );
                        }
                    }
                    else if ( $.isPlainObject( conf.data ) ) {
                        // As an object, the data given extends the default
                        $.extend( request, conf.data );
                    }
        
                    settings.jqXHR = $.ajax( {
                        "type":     conf.method,
                        "url":      conf.url,
                        "data":     request,
                        "dataType": "json",
                        "cache":    false,
                        "success":  function ( json ) {
                            cacheLastJson = $.extend(true, {}, json);
        
                            if ( cacheLower != drawStart ) {
                                json.data.splice( 0, drawStart-cacheLower );
                            }
                            if ( requestLength >= -1 ) {
                                json.data.splice( requestLength, json.data.length );
                            }
                            
                            drawCallback( json );
                        }
                    } );
                }
                else {
                    json = $.extend( true, {}, cacheLastJson );
                    json.draw = request.draw; // Update the echo for each response
                    json.data.splice( 0, requestStart-cacheLower );
                    json.data.splice( requestLength, json.data.length );
        
                    drawCallback(json);
                }
            }
        };
        
        // Register an API method that will empty the pipelined data, forcing an Ajax
        // fetch on the next draw (i.e. `table.clearPipeline().draw()`)
        $.fn.dataTable.Api.register( 'clearPipeline()', function () {
            return this.iterator( 'table', function ( settings ) {
                settings.clearCache = true;
            } );
        } );

        var table = $('#promocodesTable').DataTable( {
            deferLoading: 25,
            pageLength: 25,
            processing: true,
            serverSide: true,
            ajax: $.fn.dataTable.pipeline( {
                url: '/dashboard/promocodes',
                pages: 5 // number of pages to cache
            } ),

            columns: [
                { data: "id"  },
                { 
                    data: "pack",
                    render: function( data, type, row ) {

                        console.log( 'pack', data);
                        return `<a href="/dashboard/packs/${data.id}">#${data.id} (${data.game.title} )</a>`;
                    }    
                },
                { 
                    data: "code",
                    render: function( data, type, row ) {

                        console.log( 'code', data, row )
                        return row.code;
                    }
                },
                {
                    data: null,
                    render: function( data, type, row ) {

                        console.log( data, row );
                        return `<a href="/dashboard/promocodes/${data.id}">Редактировать</a>`;
                    }
                }
            ]
        } );

        table.ajax.reload();

        $( '#add' ).click( function() {

            var data = {};

            data.pack = $( 'select#pack' ).val();
            data.code = $( 'input[name=code]' ).val();

            $.ajax( {
                type: 'POST',
                url: '/dashboard/promocodes.create',
                data: data,
                success: function( result ) {

                    var $span = $( '.modal-footer span#message' );

                    if( $span )
                        $span.remove();

                    $( 'small#keysError' ).text( '' );

                    $( '.modal-footer' )
                            .prepend( result.success  
                                ? '<span id="message" class="text-success">Коробка успешно создана!</span>'
                                : '<span id="message" class="text-danger">Не удалось создать коробку!</span>' );

                    $( 'input[name=code]'  ).val( '' );

                    table.ajax.reload();
                    table.table();
                }
            });
        });

        
        