extends ../layouts/_layout.pug

block variables
    - var activePage = 'promocodes'
    - var activeGroup = 'none'

    - var currentPromocode = locals.currentPromocode;

block title
    title= `Dashboard > Promocodes > ${currentPromocode.code}`

block content
    .app-title
        div
            h1
                i.fa.fa-archive 
                |  Промокоды

        ul.app-breadcrumb.breadcrumb
            li.breadcrumb-item
                i.fa.fa-home.fa-lg
            li.breadcrumb-item
                a(href='/dashboard/promocodes') Промокоды
            li.breadcrumb-item
                a(href='#')= currentPromocode.code

    .card.mb-3.text-black.bg-light
        .card-header= currentPromocode.code
        .card-body
            form.form-horizontal
                .form-group
                    label(for='pack') Игра
                    select#pack.form-control
                        each pack in locals.packs
                            option( value=pack._id, selected=currentPromocode.pack.id === pack.id )= `${pack.id} (${pack.game.title})`
                .form-group.row
                    label.control-label.col-md-3 Промокод
                    .col-md-8
                        input.form-control.col-md-8(type='text', placeholder='Введите промокод..', name="code", value=currentPromocode.code) 

        .modal-footer
            button#remove.btn.btn-danger(type='button')
                | Удалить
            button#edit.btn.btn-primary(type='button')
                i.fa.fa-fw.fa-lg.fa-plus
                | Изменить

block specific-js

    script.

        $( '#edit' ).click( function() {
            
            var data = { id: !{currentPromocode.id} };

            data.game = $( 'select#pack'  ).val();
            data.code = $( 'input[name=code]'  ).val();

            $.ajax( {
                type: 'POST',
                url: '/dashboard/promocodes.edit',
                data: data,
                success: function( result ) {
                    var $span = $( '.modal-footer span#message' );

                    if( $span )
                        $span.remove();

                    $( '.modal-footer' )
                            .prepend( result.success  
                                ? '<span id="message" class="text-success">Промокод обновлен!</span>'
                                : '<span id="message" class="text-danger">Не удалось обновить промокод!</span>' );
                }
            });
        });

        $( '#remove' ).click( function() {

            $.ajax( {
                type: 'POST',
                url: '/dashboard/promocodes.remove',
                data: { id: !{currentPromocode.id} },
                success: function( result ) {
                    var $span = $( '.modal-footer span#message' );

                    if( $span )
                        $span.remove();

                    $( '.modal-footer' )
                            .prepend( result.success  
                                ? '<span id="message" class="text-success">Промокод удалён!</span>'
                                : '<span id="message" class="text-danger">Не удалось удалить промокод!</span>' );
                }
            });
        });