<!DOCTYPE html>
html(lang="en")
    head
        include ../includes/_head.pug
    body
        
        script.
            var user = !{locals.user ? locals.user.id : false};
            
        block variables

        if( locals.user && locals.user.role == 'administrator' )
            a.dashboard-panel( style='text-align: center;line-height: 32px;display: block;background: #242537;font-size: 13.5px;', href='/dashboard' ) Перейти в админ-панель
            //- a.dashboard-panel( style='text-align: center;line-height: 32px;display: block;background: #242537;font-size: 13.5px;', href='/dashboard' )= user.role

        .overlay
        .page-container
            include ../includes/_header.pug
            #page-body

                block content

            include ../includes/_footer.pug
        script( src="js/common.js" )
        