extends ../layouts/_layout.pug

block variables
    - var activePage = 'reviews'
    - var activeGroup = 'none'

block title
    title Dashboard > Reviews

block content
    .app-title
        div
            h1
                i.fa.fa-user 
                |  Модерация отзывов

        ul.app-breadcrumb.breadcrumb
            li.breadcrumb-item
                i.fa.fa-home.fa-comments
            li.breadcrumb-item
                a(href='#') Модерация отзывов
    .tile.mb-4
        ul.nav.nav-tabs.mb-3
            li.nav-item
                a.nav-link.active(data-toggle='tab', href='#moderated') На модерации
            li.nav-item
                a.nav-link(data-toggle='tab', href='#published') Опубликованные
            li.nav-item
                a.nav-link(data-toggle='tab', href='#hidden' ) Скрытые
            
        #myTabContent.tab-content
            #moderated.tab-pane.fade.active.show
                - if( locals.reviews && locals.reviews.moderated )
                    each review in locals.reviews.moderated
                        .card.mb-3( data-id=review.id )
                            .card-body
                                p.card-text= review.text
                                | Review  
                                a( href='#' )= `#${review.id}`
                                |  created by  
                                a(href='#')= review.user
                                |  
                                span= review.time

                            .modal-footer 
                                <button class="btn btn-secondary" type="button" data-id=#{review.id} data-state="hidden">Отклонить</button>
                                <button class="btn btn-primary" type="button" data-id=#{review.id} data-state="published">Опубликовать</button>
                - else
                    p.text-muted( style="text-align: center;" ) Отзывов для модерации нет!

            #published.tab-pane.fade
                - if( locals.reviews && locals.reviews.published )
                    each review in locals.reviews.published
                        .card.mb-3( data-id=review.id )
                            .card-body
                                p.card-text= review.text
                                | Review  
                                a( href='#' )= `#${review.id}`
                                |  created by  
                                a(href='#')= review.user
                                |  
                                span= review.time

                            .modal-footer 
                                <button class="btn btn-secondary" type="button" data-id=#{review.id} data-state="hidden">Скрыть</button>
                - else
                    p.text-muted( style="text-align: center;" ) Опубликованных отзывов нет!

            #hidden.tab-pane.fade
                - if( locals.reviews && locals.reviews.hidden )
                    each review in locals.reviews.hidden
                        .card.mb-3( data-id=review.id )
                            .card-body
                                p.card-text= review.text
                                | Review  
                                a( href='#' )= `#${review.id}`
                                |  created by  
                                a(href='#')= review.user
                                |  
                                span= review.time

                            .modal-footer 
                                <button class="btn btn-primary" type="button", data-id=#{review.id} data-state="published">Опубликовать</button>
                - else
                    p.text-muted( style="text-align: center;" ) Скрытых отзывов нет!

block specific-js
    script.

        $( '.btn' ).click( function( ev ) {

            var parameters = $( ev.target ).data();
            setReviewState( parameters.id, parameters.state );
        } );

        function setReviewState( id, state ) {

            $.ajax( {
                type: 'POST',
                url: '/dashboard/reviews.setState',
                data: {
                    id: id,
                    state: state
                },
                success: function( result ) {

                    var $span = $( '.card[data-id=' + id + '] .modal-footer span#message' );

                    if( $span )
                        $span.remove();

                    $( '.card[data-id=' + id + '] .modal-footer' )
                            .prepend( result.success  
                                ? '<span id="message" class="text-success">Отзыв успешно ' + { published: 'опубликован!', hidden: ' скрыт!' }[result.state] + '</span>'
                                : '<span id="message" class="text-danger">Не удалось обновить!</span>' );
                }
            });
        }