extends ../layouts/_layout.pug

block variables
    - var activePage = 'wins'
    - var activeGroup = 'none'

    - var currentWin = locals.currentWin;

block title
    title= `Dashboard > Games > Win #${currentWin.id}`

block content
    .app-title
        div
            h1
                i.fa.fa-gift 
                |  Выигрыши

        ul.app-breadcrumb.breadcrumb
            li.breadcrumb-item
                i.fa.fa-home.fa-lg
            li.breadcrumb-item
                a(href='/dashboard/wins') Выигрыши
            li.breadcrumb-item
                a(href='#')= `Выигрыш #${currentWin.id}`
    .tile
        .tile-body
            h4= 'Выигрыш #' + currentWin.id
            p Хммм, это не входящая в бюджет фича.