
.box {

    position: relative;
	padding: 30px;
	
	&.background {
		@include blurBackground();
	}
}

/*---------------------------------------------- 
1. BASICS
------------------------------------------------*/

* {
	font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

html {
	height: 100%;
	font-size: 100%;
	-webkit-text-size-adjust: 100%; /* Prevent iOS text size adjust on orientation change without disabling user zoom */
	-ms-text-size-adjust: 100%;
	position: relative;
	overflow-y: overlay;
}

body {
	font-weight: 300;
	font-size: 16px; 
	line-height: 26px;
	text-align: left;

	@include bg();

}
    
::selection { background:#0d0d0d; color:#ffffff; }
::-moz-selection { background:#0d0d0d; color:#ffffff; }
::-webkit-selection { background:#0d0d0d; color:#ffffff; }

*::-webkit-scrollbar-track {
	border-radius: 4px;
	width: 12px;
	height: 12px;
	// background-color:rgba(0, 0, 0, 0.05);
}

*::-webkit-scrollbar {
	width: 6px;
	height: 6px;
	background-color:rgba(0, 0, 0, 0.05);
}

*::-webkit-scrollbar-thumb {
	border-radius: 3px;
	width: 4px;
	height: 4px;
	background-color:rgba(0, 0, 0, 0.25);
	
}

/* Headings & Text
---------------------------------------- */
h1, h2, h3, h4 { font-weight: 500; }
h5, h6 { font-weight: 400; }

h1 b, h2 b, h3 b, h4 b, h5 b, h6 b, h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h6 strong { font-weight: 700; }

div h1, div h2, div h3, div h4, div h5, div h6 { margin-top: 30px; }
div h1:first-child, div h2:first-child, div h3:first-child, div h4:first-child, div h5:first-child, div h6:first-child { margin-top: 0px !important; }

h1 + h1, h1 + h2, h1 + h3, h1 + h4, h1 + h5, h1 + h6,
h2 + h1, h2 + h2, h2 + h3, h2 + h4, h1 + h5, h2 + h6,
h3 + h1, h3 + h2, h3 + h3, h3 + h4, h3 + h5, h3 + h6,
h4 + h1, h4 + h2, h4 + h3, h4 + h4, h4 + h5, h4 + h6,
h5 + h1, h5 + h2, h5 + h3, h5 + h4, h5 + h5, h5 + h6,
h6 + h1, h6 + h2, h6 + h3, h6 + h4, h6 + h5, h6 + h6 { margin-top: 10px; }

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover { color: $colorPrimary; }


h1 { font-size: 72px; line-height: 90px; }
h2 { font-size: 56px; line-height: 66px; }
h3 { font-size: 32px; line-height: 40px; }
h4 { font-size: 24px; line-height: 30px; }
h5 { font-size: 20px; line-height: 24px; }
h6 { font-size: 17px; line-height: 21px; }

h6 {
	margin-bottom: 20px;
}
label {

	font-size: 12px;
	line-height: 16px;
	opacity: .75;
}

/* Links
---------------------------------------- */

a {
	text-decoration: none;
	cursor: pointer;
	-webkit-tap-highlight-color:rgba(0,0,0,0.0);
	color: $colorPrimary;
	display: inline-block
}

a:hover { color: #ffffff; }

/* Others
---------------------------------------- */
p { 
	margin-top: 20px; 
	font-size: 15px;
}

div p:first-child {  margin-top: 0px;  }	

strong, b, dt {
	font-weight: 600;
}

i, dfn, em {
	font-style: italic;
}
    
    
blockquote {
	margin: 60px;
	font-size: 24px; line-height: 32px;
	font-family: 'Josefin Sans', Georgia;
	font-weight: 300;
	color: #0d0d0d;
	font-style: italic;
	}
	div blockquote:first-child {  margin-top: 0px;  }

blockquote p {
	margin: 0;
}

/* buttons
---------------------------------------- */
.flat-button {
	
	font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	cursor: pointer;

	color: white;
	padding: 0 32px;
	font-size: 15px;
    border-radius: 18px;
	line-height: 36px;
	text-align: center;

	&.primary {

		font-weight: 500;
		background: $gradientPrimary;

		box-shadow: rgba(255, 160, 0, .0) 0 2px 24px;

		transition: box-shadow .3s ease;

		&:hover { box-shadow: rgba(255, 160, 0, .5) 0 2px 24px; }
	}

	&.secondary {

		background: $colorSecondary;
	}

	&.big {
		font-weight: 600;
		height: 44px;
        border-radius: 22px;
	}

	&:disabled {

		opacity: .5;
	}
}


@media only screen and (max-width: 768px) {
    .box { padding: 20px; }
}