.page-container {
	overflow: hidden;
	margin: 0;
	max-width: 1280px;
	margin: 0 auto;
}

.overlay {
	position: fixed;
    background: rgba(33,33,51,.5);
    height: 100vh;
    width: 100vw;
	z-index: -1;
	top: 0;
}

#page-body { padding: 0 }
#page-body.paddings { padding: 0; }

.wrapper {
	max-width: 1280px;
	margin: 0 auto;
}

.wrapper-small { width: 780px;	margin: 0 auto; }
.wrapper-mini { width: 480px;	margin: 0 auto; }

.wrapper:after, .wrapper-small:after, .wrapper-mini:after  { content: ""; display: block; clear: both; visibility: hidden; font-size: 0;  height: 0; }


.left-float { float: left; }
	
.right-float { float: right; }
	
.align-center { text-align: center; }
	
.align-right { text-align: right; }
	
.text-dark { color: $colorDark; }

.colored { color: $colorSecondary; }

.full-width { width: 100%; }

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}


.more {
	cursor: pointer;
	margin-top: 20px;
	border-radius: 8px;
	padding: 10px;
	text-align: center;

	&:hover {
		background: rgba( 0, 0, 0, .25 );
		color: $colorPrimary;
	}
}