
input {

    font-size: 15px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 19px;
    padding: 22px;

    height: 38px;

    box-sizing: border-box;

    color: white;

    &.big {
        height: 44px;
    }
}

input, button {

    padding: 0 22px;

    margin-bottom: 10px;


    &.big {

        border-radius: 22px;
        height: 44px;
    }

    &:last-child {

        margin-bottom: 0;
    }
}

textarea {
    margin-bottom: 10px;
    
    padding: 15px;

    background: rgba(0, 0, 0, 0.25);
    color: white;

    border-radius: 8px;
    box-sizing: border-box;
    font-size: 15px;
    line-height: 22px;
    max-width: 100%;
}

.toggle {

    margin: 10px 0 20px;

    &__container {
        display: inline-flex;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 20px;
        height: 40px;
    }


    user-select: none;

    &__item  {

        cursor: pointer;

        input[type=checkbox], input[type=toggle], input[type=radio] {
            appearance: none;
            text-align: center;
        }

    }

    input[type=radio] { display: none; }

    &__text {
        cursor: pointer;

        padding: 0 25px;
        text-align: center;

        font-size: 15px;
        color: #FFFFFF;
        line-height: 40px;

        opacity: 1;

        &:hover {

            color: $colorPrimary;
        }
    }

    [type=radio]:checked + label {

        cursor: initial;
        background: linear-gradient(90.6deg, #84BCE4 0.05%, #0094FF 99.95%);
        border-radius: 20px;
        opacity: 1;

        &:hover  {
            color: white;
        }
    }
}